FLASK_ENV=development
# Database
DATABASE_URL=mysql+pymysql://user:pass@localhost:3306/db_ehrm

# Timezone & geofence
TIMEZONE=Asia/Makassar
DEFAULT_GEOFENCE_RADIUS=100

# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=e-hrm
MODEL_NAME=buffalo_l
SIGNED_URL_EXPIRES=604800
